* {
    margin: 0;
    padding: 0;
}



.grid-wrapper {
    display: grid;
    /*grid-template-columns: repeat(4, 25%);*/
    /*grid-template-columns: 1fr 3fr 1fr;*/
    /*grid-template-columns: minmax(300px, 600px) 3fr 1fr; */
    /* grid-template-columns: 150px 1fr 150px; */
    grid-template-columns: auto auto;
    grid-template-rows: 100px 1fr 1fr 30px;
    grid-gap: 1rem;
    min-height: 100vh;
    grid-template-areas: 
        'header header'
        'content content'
        'lsidebar rsidebar'
        'footer footer';
    /* justify-items: center; */
    /* align-items: center; */
    /* place-items: center; */
}

.grid-wrapper > div {
    background-color: grey;
    padding: 1rem;
}

.one {
    grid-area: header;  
}

.two {
    grid-area: content;

}

.three {
    grid-area: lsidebar;
    /* justify-self: start; */
    /* align-self: stretch; */
} 

.four {
    grid-area: rsidebar;
}
    
.five {

    /* grid-column: 1/4; */
    grid-area: footer;
}